body {
  background-image: url("https://wallpapercave.com/wp/wp2280977.jpg");
  background-repeat: no-repeat;
  
}
.dp {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

#myModal {
  background-image: url("https://media.tenor.com/MYZgsN2TDJAAAAAC/this-is.gif");
}

.modal-content{
    /* background-color: ; */
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
    color: white !important;
    border: 2px solid white !important;
}

.btn{
    border: 1px solid white !important;
}

.dismiss{
    border-bottom: none !important;
    border-right: none !important;
    border-left: none !important;
}

.vid{
    height: 100% !important;
    width: 100% !important; 
}

.text-box{
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

.special{
    height: 50vh;
    border: 2px solid aquamarine;
    border-radius: 20px;
}